<section id="sidebar" class="sidebar right">
  <a href="/posts/new" id= "new_post_link" class="button_anchor">Share Your Thoughts</a>
</section>
<div id="new_post_form"></div>
<section id="posts" class="left content">
  <% @posts.each do |post| %>
    <%= erb :'posts/_post', { layout: false, locals: {:post => post }} %>
  <% end %>
</section>
