<form id="new_item" action="/items/<%=@item.id%>" method="post">
  <label for="name">Item Name:</label>
  <input type="text" name="item[name]">
  <br>
  <label for="description">Item Description:</label>
  <input type="text" name="item[description]">
  <br>
  <label for="bid_start">Bid Start Date:</label>
  <input type="text" name="item[bid_start]">
  <br>
  <label for="bid_end">Bid End Date:</label>
  <input type="text" name="item[bid_end]">
  <br>

  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Edit this item!">

</form>