<form id="Login" action="/login" method="post">
  <label for="user_name">User Name:</label>
  <input type="text" name="user[user_name]">
  <br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Login!">

</form>